@tailwind base;
@tailwind components;
@tailwind utilities;
  
@layer base {
  html {
    @apply font-sans text-base leading-[1.2] text-blackSheep;
  }

  body {
    @apply bg-whiteSmoke;
  }
}

@layer utilities {
  /* TODO: improve scrollbar visibility */
  /* hide scrollbar but allow scrolling */
  .scrollbar-hide {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
    }
  }
}
